h1{
  font-size: 24px;
  color:#777;
  text-align: left;
  /*position: absolute;*/
}
h1:first-letter {
  color:#68A4C4;
}
#header { 
  background:white; 
  position: absolute;
  /*top: 20px;*/
  /*left: 1000px;*/
  width:2700px; 
  height:300px; 
}

#zag {
  /*background:#c4a64d; */
  width:350px; 
  height:80px;
  position: relative;
  left: 300px;
  top: 100px;
}

/*#navigator{
background:blue; 
width:90px;
height:20px;
}*/

.hr {
  position: relative;
  /*left: 0px;*/
  bottom: 20px;
  right: 300px;
  height:10px;
}
ul.hr {
  /*background:#c4a64d;
  margin: 0; /* Обнуляем значение отступов */
  padding: 30px; /* Значение полей */
  float:right;
}
ul.hr li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  /*border: 1px solid #000; /* Рамка вокруг текста */
  padding: 5px; /* Поля вокруг текста */
  /*font-size: 50px;*/
  /*color: black;  */
}

a {
  font-size: 19px;
  color: black;
  text-decoration: none;
}
a:active {
  color:#68A4C4; /* Цвет активных ссылок */
}

a:visited {
  color:black;
  text-decoration:none;
}

#main_content{ 
  /*background:#d0e3f7; */
  position: absolute;
  top:300px;
  /*left: 1000px;*/
  width:2700px; 
  height:1000px; 

} 

#main_content img{
  position:relative;
  left: 300px;
  top: 50px;
  width: 2060px;
  height: 800px;
  /*background-size: 100px 30px;
  /*height:20px;*/
}

#content{ 
  /*background:#ffebcd; */
  position: absolute;
  top: 1150px;
  /*left:1000px;*/
  width:2700px; 
  height:1200px; 
}

h2 {
  position: relative;
  text-align: center;
  top: 210px;
  /*left:750px;*/
  font-size: 60px;
}

.colortext {
  color:#68A4C4;
}

 

#line_block { 
  width:300px; 
  height:300px; 
  /*background: yellow;*/
  position: relative;
  top:330px;
  left:300px;
  /*transform: translate(50%, -50%);*/
  float:left;
  margin: 0px 20px 0px 0px; 
  font-size: 35px;
  text-align:center;
  padding: 100px;
}

.nadpis{
	position:absolute;
	left: 50%;
  margin-left: -100px;
  margin-top: -50px;
  color: #333;
}

.block_text{
	position: absolute;
	margin-left: -50px;
	width: 400px;
	font-size: 25px;
	color: #656565;
	
}

.knopka {
  /*color: #fff; /* цвет текста */
  /*border: 1px solid #0e3c59; - рамка кнопки */
  /*text-decoration: none; /* убирать подчёркивание у ссылок */
  /*user-select: none; /* убирать выделение текста */
  background: #75c1ff; /* фон кнопки */
  padding: 1px 1px; /* отступ от текста */
  position: absolute;
  /*left: 50%;*/
  top: 50%;
  margin-left: -100px;
  margin-top: 200px;
  width: 500px;
  height: 120px;
  top:150px;
  font-size: 30px;
  outline: none; /* убирать контур в Mozilla */
} 

.knopka a {
color: #fff; /* цвет текста */
/*text-decoration: none;	*/
font-size: 50px;
position: absolute;
/*left: 50%;*/
top: 50%;
left: 0%;    
transform: translate(60%, -50%);
}
a.knopka:hover { background: #b1dcfc; } /* при наведении курсора мышки */
a.knopka:active { background: #3333ff; } /* при нажатии */

#two_content{
  /*background:oldlace; */
  position: absolute;
  top: 2500px;
  /*left: 1000px;*/
  width:2700px; 
  height:500px;
  font-size: 30px;
}

.recent{
 position:relative;
 font-size: 50px;
 left: 300px;
}

#two_content img {
	display: inline;
	width: 455px;
	height: 300px;
	margin-right: 70px;
	
	position: relative;
  /*top:60%;*/
  left:300px;
}

#footer{ 
  background:#68A4C4; 
  position: absolute;
  top: 3200px;
  width:2700px;
  height:450px; 
  }

.ter{
	 position: relative;
	 left: 300px;
	 top: 400px;
	 width: 350px;
	 font-size: 20px;
	 color: white;
 }
