
/*---------HEADER------------*/

.b-page
{
    width:100%; /*блок по всей ширине окна*/
    margin:0 auto; /*отступ от края браузера*/
    font-family:Oswald;
    font-size:12px;
	border: 5px solid black;
}

.b-page_center  {
	text-align: center;
	/*padding:0 120px 0 120px;
	position:relative;*/
}

.b-page__line
{
    width: 960px;
    margin: 0 auto;
    margin-top:10px;    	
}

.b-page_line_center{
	text-align: center;
}

.b_page_line_left{
	margin-top: 5px;
	position:relative;
	display:inline-block;
	height: 100px;
    width:550px;

}

.wrapper {
	text-align: center;
	}

.b-head {
	height:36px;
	position:absolute;
	bottom: 0;
}
 
h1{
	font-size: 20px;
    color:#777;
	padding:0px;
}

h1:first-letter {
  color:#68A4C4;
}

.b-menu {
	position:absolute;
	bottom:0;
	right:0;
    padding:0;
	display:inline-block;
	list-style:none; 
	font-family:Time New Roman;
	font-weight: 1000;
	display:table;
    table-layout: fixed;  

}

.b-link_menu
{
    text-align:center;
    color:black;
    cursor:pointer;
    font-size:12px;
    cursor:pointer;
    line-height:15px;
	padding: 0px 5px 0px 5px;
    display:table-cell;
    text-decoration: none;
}

.b-link_menu_active
{
    color:#68A4C4;
    background-color:white;
}



/*------------BLACK LINE---------*/



.black-line{
	height: 100px;
	width: 100%;
	/*background-color: blue;*/
	margin-top: 50px;
	display: table;
}

.black_line_center {
    display: table-cell;
    vertical-align: middle;
	background-color: black;	
}

.black_line_contact {
	margin-left: 510px;
	float:left;
}

.contact_img{
	margin-top: 3px;
	float: left;
	
}

.contact_img img{
	height: 10px;
	width: 10px;
	padding: 5px 0px 5px 15px;
}

.contact_link{
	text-align: center;
	width: 100px;
	padding: 5px;
	background-color: #68A4C4;
}
.m_link{
	color: white;
	font-size: 10px;
	text-decoration: none;
	font-weight: 1000;
	}


/*---------MAP--------*/	

.content_map {
    margin: 0 auto;
	width: 100%;
	/*background-color: red;*/
	-moz-background-size: 100%;
	
}

/*-------FORM-------*/

.b_page_form{
	width: 100%;
	margin-top: 50px;
	position: relative;
}


.b_page_title{
	width:100%;
	margin-bottom: 20px;
	height: 30px;
}

.b_title{
	text-align: center;
}

.b_title_style{
	font-size: 16px;
	font-weight: 600;
}

input[type="text"]{  
   width:40em; 
   border-radius:2px; 
   border: solid 1px #ccc; 
   padding:0.4em;
}

.button{
	height: 50px;
	width: 120px;
	border-radius: 10px;
	background-color: #68A4C4;
	color: white;
}



/*------FOOTER--------*/
	
	
.footer{ 
  background:#68A4C4; 
  position: relative;
  margin-top: 100px;
  width:100%;
  height:350px; 
}

 
.footer_wrapper {
	width: 1060px;/*фиксируем ширину обертки*/
    margin: 0 auto;/*центрируем ее*/
    height: 300px;/*Задаем высоту обертки*/

}
  
.footer_block{
	float: left; /*Задаем обтекание*/
    line-height: 25px;/*Высота строки +  верт. центрирования текста*/
	font-size: 14px;
    color: white;
    width: 250px; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем */		
}


.footer_block_content{
	text-align: left;
}

.footer_content_title {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding: 60px 0px 20px 20px;
}


.footer_block_mod_title{
	font-size: 14px;
	font-weight: 600;
	padding-left: 20px;
	color: white;
}

.footer_block_mod {
	color: white;
	padding-left: 20px;
}


.footer_block_contact{
	color: white;
	float: left;
	padding-left: 20px;
	
}

.footer_block_note {
	color: white;
	float: left;
	padding-left: 20px;
	padding-top: 50px;
}

.f_block_link {
	bottom:0;
	right:0;
    padding:0;
	display:block;
	list-style:none; 
	/*font-family:Time New Roman;*/
}

.f_link_style {
    /*text-align:center;*/
    color:white;
    cursor:pointer;
    font-size:14px;
    cursor:pointer;
    line-height:15px;
	padding: 0px 5px 10px 0px;
    /*display:table-cell;*/
    text-decoration: none;
}