
/*------HEADER---------*/

.b-page
{
    width:100%; /*блок по всей ширине окна*/
    margin:0 auto; /*отступ от края браузера*/
    font-family:Oswald,Tahoma;
    font-size:12px;
	border: 5px solid black;
}

.b-page_center  {
	text-align:center;
}

.b-page__line
{
    width: 960px;
    margin: 0 auto;
    margin-top:10px;    	
}

.b-page_line_center{
	text-align: center;
}

.b_page_line_left{
	margin-top: 5px;
	position:relative;
	display:inline-block;
	height: 100px;
    width:550px;

}

.wrapper {
	text-align: center;
	}

.b-head {
	height:36px;
	position:absolute;
	bottom: 0;
}
 
h1{
	font-size: 20px;
    color:#777;
	padding:0px;
}

h1:first-letter {
  color:#68A4C4;
}

.b-menu {
	position:absolute;
	bottom:0;
	right:0;
    padding:0;
	display:inline-block;
	font-family:Time New Roman;
	font-weight: 1000;
	display:table;
	width: 50%;
    table-layout: fixed;  

}

.b-link_menu
{
    text-align:center;
    color:black;
    cursor:pointer;
    font-size:12px;
	padding: 0px 5px 0px 5px;
    display:table-cell;
    text-decoration: none;
}

.b-link_menu_active
{
    color:#68A4C4;
    background-color:white;
}


/*------SLIDER-----****/

.content_slide {
	margin-top: 5%;
	padding: 50px;
	height: 400px;
}

.content_slide_img img{
	width: 1100px;
	height: 400px;
}


/*---Main content--*/

.content_title{
	background-color: #f8f8f8;
	margin-left: auto;
    margin-right: auto;
}

.content_title_back {
	background-color: #f8f8f8;
	display: table;
	position: relative;
	margin: 0 auto;
}

.content_title_head{
	height: 150px;
	display: table-cell;
	vertical-align: middle;
		
}

.title_style{
	font-size: 30px;
	color: #333;
}

.colortext{
	color:#68A4C4;
}
.content_backcolor{
	background-color: white;
	text-align: center;
}

.content_wrapper{
	text-align:center;
	margin-top: 5%;	
}

.main_block {
	margin-top: 5px;
	position:relative;
	display:inline-block;
    margin: 0;
    width:265px;
    background-color: #f8f8f8;
	padding: 0px;
}


.main_block_title{
	text-align:center;
	padding: 30px;
	font-size: 20px;
	color: black;
}

.main_block_img{
	text-align: center;
	margin-bottom: 30px;
}

.main_block_img img{
	height: 55px;
	width: 70px;
	
}

.main_block_text{
	text-align: center;
	color: #656565;
}

.block_text {
	padding: 20px;
	font-size: 16px;
}

.main_block_link{
	text-align: center;
	padding: 20px;
	margin-top: 15px;
	background-color: #68A4C4;
}
.m_link{
		color: white;
	font-size: 15px;
	text-decoration: none;
	font-weight: 1000;
	}

	
/*-----Recent works-----*/	
	
.recent_works{
	height: 50px;
	margin-top: 100px;

}

.recent_works_center{
	position: absolute;
	text-align: center;
	margin-left: 390px;
}

.recent_works_title{
    margin-top:10px; 
}

.recent_style{
	font-size: 16px;
	color: black;
	font-weight: 1500;
	float: none;
}
.recents_block{
	text-align: center;
}
.recent_picture {
    background-color: #f8f8f8;
}

.recent_picture_img{
	display: inline-block;
	margin-left: 0px;
	padding: 5px 15px 5px 0px;
}

.recent_picture_img img{
	
	width: 260px;
	height: 200px;
}


/*-------FOOTER------*/	
	
.footer{ 
  background:#68A4C4; 
  position: relative;
  margin-top: 100px;
  width:100%;
  height:350px; 
}

 
.footer_wrapper {
	width: 1060px;
    margin: 0 auto;
    height: 300px;

}
  
.footer_block{
	float: left; /*Задаем обтекание*/
    line-height: 25px;/*Высота строки +  верт. центрирования текста*/
	font-size: 14px;
    color: white;
    width: 250px; 
    margin-right: 10px;
    text-align: center; 	
}


.footer_block_content{
	text-align: left;
}

.footer_content_title {
	color: white;
	font-size: 14px;
	font-weight: 600;
	padding: 60px 0px 20px 20px;
}


.footer_block_mod_title{
	font-size: 14px;
	font-weight: 600;
	padding-left: 20px;
	color: white;
}

.footer_block_mod {
	color: white;
	padding-left: 20px;
}


.footer_block_contact{
	color: white;
	float: left;
	padding-left: 20px;
	
}

.footer_block_note {
	color: white;
	float: left;
	padding-left: 20px;
	padding-top: 50px;
}

.f_block_link {
	bottom:0;
	right:0;
    padding:0;
	display:block;
	list-style:none; 
	
}

.f_link_style {
    color:white;
    cursor:pointer;
    font-size:14px;
    cursor:pointer;
    line-height:15px;
	padding: 0px 5px 10px 0px;
    text-decoration: none;
}